In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('house_prices.csv')

df.shape

(1500, 14)

In [27]:
df. head(10000)

,Id,Neighborhood,YearBuilt,LotArea,OverallQual,GrLivArea,FullBath,GarageCars,Fireplaces,CentralAir,KitchenQual,DistanceToCityCenterKm,SaleCondition,SalePrice
0,1,Edwards,1987,5405.0,1,1981,2,0.0,0,Y,TA,2.73,Normal,230100
1,2,Mitchel,1968,7515.0,8,1138,1,2.0,2,Y,TA,6.75,Normal,267240
2,3,Crawfor,1966,5897.0,7,1073,2,1.0,0,Y,Gd,13.85,Normal,283400
3,4,Somerst,1972,25261.0,5,1730,2,0.0,1,Y,TA,5.09,Normal,347970
4,5,NAmes,1992,7649.0,5,1994,2,1.0,2,Y,TA,5.61,Normal,307380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,NridgHt,1994,5498.0,5,991,1,1.0,0,Y,Gd,6.50,Normal,326480
1496,1497,NridgHt,1971,19536.0,6,1766,2,1.0,1,Y,TA,7.24,Partial,417230
1497,1498,OldTown,1974,12464.0,8,1557,2,2.0,1,Y,TA,7.87,Normal,255160
1498,1499,NAmes,1980,5699.0,5,1592,2,NaN,0,Y,TA,16.11,Normal,263710
1499,1500,CollgCr,1997,10337.0,9,2475,3,3.0,3,Y,TA,12.93,Abnorml,448120

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      1500 non-null   int64
 1   Neighborhood            1500 non-null   object
 2   YearBuilt               1500 non-null   int64
 3   LotArea                 1485 non-null   float64
 4   OverallQual             1500 non-null   int64
 5   GrLivArea               1500 non-null   int64
 6   FullBath                1500 non-null   int64
 7   GarageCars              1455 non-null   float64
 8   Fireplaces              1500 non-null   int64
 9   CentralAir              1500 non-null   object
 10  KitchenQual             1470 non-null   object
 11  DistanceToCityCenterKm  1478 non-null   float64
 12  SaleCondition           1500 non-null   object
 13  SalePrice               1500 non-null   int64
dtypes: float64(3), int64(7), object(4)
memory usage: 164.2+ KB

We have 'obj' labeled for some of our column values insteead of a maore asuitable data type

For 'Lot area' we have 15 null values 
For 'GaragaeCars' we have 45 null values
For 'KitchenQual' we have 30 null values
For 'DistanceToCityCenterKm' we have 22 null values

In [29]:
df.describe()

,Id,YearBuilt,LotArea,OverallQual,GrLivArea,FullBath,GarageCars,Fireplaces,DistanceToCityCenterKm,SalePrice
count,1500.000000,1500.000000,1485.000000,1500.000000,1500.000000,1500.000000,1455.000000,1500.000000,1478.000000,1500.000000
mean,750.500000,1984.830667,9108.237037,5.552000,1515.328667,1.741333,1.403436,1.136667,7.969567,291028.900000
std,433.157015,20.612648,4960.506376,2.874393,615.413323,0.726712,0.961495,0.877783,3.895349,95018.749226
min,1.000000,1950.000000,2023.000000,1.000000,400.000000,1.000000,0.000000,0.000000,0.200000,72800.000000
25%,375.750000,1967.000000,5723.000000,3.000000,1149.750000,1.000000,1.000000,0.000000,5.250000,223887.500000
50%,750.500000,1984.000000,8001.000000,6.000000,1504.500000,2.000000,1.000000,1.000000,7.830000,283250.000000
75%,1125.250000,2003.000000,10975.000000,8.000000,1831.000000,2.000000,2.000000,2.000000,10.705000,344205.000000
max,1500.000000,2020.000000,44991.000000,10.000000,6325.000000,4.000000,4.000000,3.000000,19.400000,850000.000000

In [30]:
# count duplicates
df.duplicated().sum()

# view duplicate rows
df[df.duplicated(keep=False)].sort_values(df.columns.tolist())

Empty DataFrame
Columns: [Id, Neighborhood, YearBuilt, LotArea, OverallQual, GrLivArea, FullBath, GarageCars, Fireplaces, CentralAir, KitchenQual, DistanceToCityCenterKm, SaleCondition, SalePrice]
Index: []

No Dupolicate Rows